<div class="popup-overlay" id ="popup_{{ item.root.id }}">
    <div class="popup">
		<div class="popup-row" data-filter="1">
			<div class="color-picker">
				<p>Выберите цвет и текстуру:</p>

                {% for color in colors %}
                    <div class="color">
                        <input type="radio" data-id="{{ color.id }}" name="color_{{ item.root.id }}"  id="color_{{ item.root.id }}_{{ color.id }}">
                        <label for="color_{{ item.root.id }}_{{ color.id }}"><img alt="{{ color.name }}" src="{{ color.icon.url }}"></label>
                    </div>
                {% endfor %}
			</div>
			<div class="texture-picker">
                {% for texture in textures %}
                    <div class="texture">
                        <input type="checkbox" data-id="{{ texture.id }}" name="texture_{{ item.root.id }}"  id="texture_{{ item.root.id }}_{{ texture.id }}">
                        <label for="texture_{{ item.root.id }}_{{ texture.id }}">{{ texture.name }}</label>
                    </div>
                {% endfor %}
				<input type="text" name = "name">
			</div>
		</div>
		<div class="popup-row">
			<div class="main-picker">




