{% extends 'base.html' %}

{% block css %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
{% endblock %}

{% block js %}
    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/designer_form.js"></script>
    <script src="{{ STATIC_URL }}js/designer_view.js"></script>
    <script src="{{ STATIC_URL }}js/script.js"></script>
{% endblock %}
{% block content %}
    <div id="view">
        <div class="main-view">
            {% block view %}
                {% include 'designer/views/default.html' with images=images %}
            {% endblock %}
            <div class="nav nav-left"></div>
            <div class="nav nav-right"></div>
        </div>
    </div>

    <div class="options">
    {% block options %}
        {% include 'designer/options/default.html' with items=options checked_items=checked_items id_click=id_click textures=textures colors=colors %}
    {% endblock %}
    </div>
{% endblock %}