{% extends 'base.html' %}

{% block css %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
{% endblock %}

{% block content %}

    <div id="view">
        <div id="main-view">
            {% block view %}
                {% include 'designer/view.html' with images=images %}
            {% endblock %}
            <div class="nav nav-left"></div>
            <div class="nav nav-right"></div>
        </div>
    </div>

    <div id="options">
    {% block options %}
        {% include 'designer/options.html' with items=options checked_items=checked_items %}
    {% endblock %}
    </div>
{% endblock %}