{% extends 'base.html' %}

{% block css %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
{% endblock %}

{% block js %}
    <script src="{{ STATIC_URL }}js/jquery.js"></script>
    <script src="{{ STATIC_URL }}js/script.js"></script>
{% endblock %}

{% block content %}
    <div id="type-of-products-wrapper">
    {% block options %}
        {% include 'designer/options/link.html' with items=options %}
    {% endblock %}
    </div>
{% endblock %}