html,
body {
	height: 100%;
		min-height: 100%;
	font: 14px Calibri;
	margin: 0;
	width: 100%;
		min-width: 1024px;
}
#view,
#options{
	display: inline-block;
	height:100%;
	margin-top: 2em;
	position: relative;
	vertical-align: top;
}

/*******
#	ЭТАПЫ И ВНЕШНИЙ ВИД
*******/
#view{
	width: 60%;
		min-width: 650px;
	text-align: center;
}
#main-view{
	bottom: 0;
	height: 400px;
	left: 0;
	right: 0;
	top: 0;
	margin: 0 auto;
	width: 500px;
	position: absolute;
}
#main-view .nav{
	position: absolute;
	width: 21px;
	height: 52px;
	top: 150px;
	background: url("../image/arrow.png");
}
#main-view .nav-left{
	left: -20px;
}
#main-view .nav-right{
	right: -20px;
	background-position: 100% 0;
}
div[id*="step"]{
	display: inline-block;
	margin: 400px 10px 0;
}
/*	END	"ЭТАПЫ И ВНЕШНИЙ ВИД"	*/

/*******
#	ОПЦИИ КОНСТРУКТОРА
*******/
#options{
	width: 35%;
		min-width: 350px;
}
 	#options:before{
		background: url("../image/shadow.png") no-repeat;
		background-size: cover;
		content: "";
		height: 100%;
		left: -30px;
		position: absolute;
		width: 8px;
		z-index: -2;
	}
#options .caption{
	color: #991c2b;
	margin: 1em 0;
}
#options .option{
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 65px;
}
#options .option input[type="radio"]{
	display: none;
}
#options .option input[type="radio"]:checked+label{
    color: #991c2b;
}
#options .option label{
	font-size: 11px;
	word-wrap: break-word;
}
/*	END "ОПЦИИ КОНСТРУКТОРА"	*/