<!DOCTYPE html>
<html>
<head lang="ru">
    <meta charset="UTF-8">
    <title>{% block title %}Default title{% endblock %}</title>
    {% block css %}{% endblock %}
    {% block js %}{% endblock %}
</head>
<body>
    <header>
        <a href="/" title="Главная" rel="home" class="header__logo" id="logo">
            <img src="http://acar-group.ru/sites/default/files/logo_acar_group.png" alt="Главная" class="header__logo-image">
        </a>
        <hr>
    </header>
    {% include 'designer/views/breadcrumbs.html' with branch=branch %}
    {% block content %}
    Default content
    {% endblock %}
</body>
</html>