html,
body {
	height: 100%;
		min-height: 100%;
	font: 14px Calibri;
	margin: 0;
	width: 100%;
		min-width: 1024px;
}
* {
	box-sizing: border-box;
	outline: 0;
}
/*******
#	ВЫБОР ТИПА
*******/
#type-of-products-wrapper{
	font-size: 0;
	width: 1024px;
	margin: 0 auto;
    height:100%;
}
.type-of-product{
	display: inline-block;
	height:100%;
	font-size: 14px;
	position: relative;
	vertical-align: bottom;
	width: 50%;
	zoom: 1;
	*display: inline;
}
a.type-of-product-content{
	border: 2px solid transparent;
	display: inline-block;
	height: 450px;
	margin: auto;
	position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	text-align: center;
	text-decoration: none;
	vertical-align: bottom;
	width: 450px;
	zoom: 1;
	*display: inline;
	_height: 450px;
}

.type-of-product-content:hover{
    border: 2px solid #991c2b;
}

.type-of-product-content img{
	height: auto;
		max-height: 390px;
	margin: auto;
	position: absolute;
		right: 0;
		bottom: 3em;
		left: 0;
	width: auto;
		max-width: 400px;
}
.type-of-product-content p {
	font-weight: 800;
	margin: 0;
	text-transform: uppercase;
	position: absolute;
		right: 0;
		bottom: 1em;
		left: 0;
}
.type-of-product-content:hover p{
    color: #991c2b;
}

/*******
#	ЭТАПЫ И ВНЕШНИЙ ВИД
*******/
#view,
.options{
	display: inline-block;
	height:100%;
	margin-top: 2em;
	position: relative;
	vertical-align: top;
}
#view{
	width: 60%;
		min-width: 650px;
	text-align: center;
}
.main-view{
	bottom: 0;
	height: 500px;
	left: 0;
	right: 0;
	top: 0;
	margin: 0 auto;
	width: 500px;
	position: absolute;
}
.main-view img{
	position: absolute;
	height: 100%;
	left: 0;
	margin: 0 auto;
	right: 0;
	width: auto;
}
.main-view .nav{
	position: absolute;
	width: 21px;
	height: 52px;
	top: 225px;
	background: url("../image/arrow.png");
}
.main-view .nav-left{
	left: -20px;
}
.main-view .nav-right{
	right: -20px;
	background-position: 100% 0;
}
div[id*="step"]{
	display: inline-block;
	margin: 400px 10px 0;
}
/*	END	"ЭТАПЫ И ВНЕШНИЙ ВИД"	*/

/*******
#	ОПЦИИ КОНСТРУКТОРА
*******/
.options{
	width: 35%;
		min-width: 350px;
}
 	.options:before{
		background: url("../image/shadow.png") no-repeat;
		background-size: cover;
		content: "";
		height: 100%;
		left: -30px;
		position: absolute;
		width: 8px;
		z-index: -2;
	}
.options .caption{
	color: #991c2b;
	margin: 1em 0;
}
.options .option{
	display: inline-block;
	position: relative;
	text-align: center;
	vertical-align: top;
	width: 65px;
}
.options .option input[type="radio"]{
	display: none;
}
.options .option input[type="radio"] + label  > img{
	clip: rect(auto, auto, 30px, auto); /*Обрезаем верхнюю часть*/
	position: absolute;
	left: 0;
	margin: 0 auto;
	max-height: 60px;
	right: 0;
	top: 0;
	width: auto;
}
.options .option input[type="radio"]:checked + label{
    color: #991c2b;
}
.options .option input[type="radio"]:checked + label > img{
	clip: rect(30px, auto, auto, auto); /*Обрезаем нижнюю часть*/
	top: -30px; /* Сдвиг на половину высоты */
}
.options .option label{
	display: block;
	font-size: 11px;
	padding-top: 30px; /* Место для половины высоты спрайта*/
	word-wrap: break-word;
}
/*	END "ОПЦИИ КОНСТРУКТОРА"	*/

/*******
#	ВСПЛЫВАЮЩИЕ ОКНА
*******/
.popup-overlay {
    /* display: none; */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center
    }
    .popup-overlay:after {
        display: inline-block;
        height: 100%;
        width: 0;
        vertical-align: middle;
        content: ''
    }
.popup-overlay  p{
	margin-top: 0;
}
.popup {
    background: rgba(235, 235, 235, 0.95);
    border: 1px solid #bcbec0;
    border-radius: 15px;
    display: inline-block;
	max-height: 80%;
    max-width: 700px;
    padding: 20px;
    position: relative;
	text-align: right;
    vertical-align: middle;
}
.popup .popup-row{
	border-bottom: 1px solid #bcbec0;
	font-size: 0;
	margin: 0 0 10px;
	padding: 0 0 10px;
}
.popup .color-picker,
.popup .texture-picker{
	display: inline-block;
	font-size: 14px;
	text-align: left;
	vertical-align: bottom;
}
.popup .popup-row .color-picker,
.popup .popup-row .texture-picker{
	margin: 0 1%;	
}
/*Выбор цвета*/
.popup .popup-row .color-picker{
	width: 64%
}

.popup .color{
	display: inline-block;
	font-size: 0px;
	position: relative;
	text-align: center;
	vertical-align: top;
}
.popup .color input[type="radio"]{
	display: none;
}
.popup .color input[type="radio"] + label  > img{
	border: 2px solid transparent;
	cursor:  pointer;
	height: 30px;
	width: 30px;
}
	.popup .color input[type="radio"]:checked + label > img{
		border: 2px solid #991c2b;
	}
/*Выбор текстуры*/
.popup .texture-picker{
	width: 32%;
}
.popup .texture-picker .texture{
	display: inline-block;
	margin: 0 5px 5px 0;
}
.popup .texture-picker input[type="checkbox"]{
	display: none;
}
.popup .texture-picker input[type="checkbox"] + label{
	cursor:  pointer;
	text-transform: uppercase;
	padding-left: 15px;
	position: relative;
}
	.popup .texture-picker label:before{
		content: '';
		background: url("../popups/texture-picker.png") 0 100%;
		height: 10px;
		position: absolute;
			left: 0px;
			top: 25%;
		width: 10px;
	}
	.popup .texture-picker input[type="checkbox"]:checked + label:before{
		background: url("../popups/texture-picker.png") 100% 0;
	}
.popup .texture-picker input[type="text"]{
	border: 1px solid #bcbec0;
	border-radius: 5px;
	padding: 0 0.5em;
	width: 210px;
	outline: 0;
}
.popup input[type="button"]{
	background: #991c2b;
	border: none;
	border-radius: 5px;
	color: #fff;
	cursor:  pointer;
	padding: 0.3em 1em;
	text-transform: uppercase;
}
/*Основной блок выбора*/
.popup .main-picker{
	font-size: 0;
	max-height: 280px;
	overflow-y: auto;
	text-align: left;
	width: 100%;
}
.popup .main-picker .pattern{
	display: inline-block;
	cursor: pointer;
}
.popup .main-picker .pattern img{
	/* margin:1px; */
	width: 70px;
	height: 70px;
	padding: 3px;
	border: 1px solid transparent;
}
	.popup .main-picker .pattern:hover img{
		border: 1px solid #991c2b;
	}

/*	END "ВСПЛЫВАЮЩИЕ ОКНА"	*/