@font-face{
	font-family: JeffScriptRegular;
    src: url('../fonts/JeffScriptRegular.woff2') format('woff2'),
         url('../fonts/JeffScriptRegular.woff') format('woff'),
         url('../fonts/JeffScriptRegular.ttf') format('truetype'),
         url('../fonts/JeffScriptRegular.svg#JeffScriptRegular') format('svg');
}
@font-face {
    font-family: 'MyriadProRegular';
    src: url('../fonts/MyriadProRegular.eot');
    src: url('../fonts/MyriadProRegular.eot') format('embedded-opentype'),
         url('../fonts/MyriadProRegular.woff2') format('woff2'),
         url('../fonts/MyriadProRegular.woff') format('woff'),
         url('../fonts/MyriadProRegular.ttf') format('truetype'),
         url('../fonts/MyriadProRegular.svg#MyriadProRegular') format('svg');
}
html,
body {
	height: 100%;
		min-height: 100%;
	font: 14px Calibri;
	margin: 0;
	width: 100%;
		min-width: 1024px
}
* {
	box-sizing: border-box;
	outline: 0;
}
body{
    background: url("../image/acar-constructor-bg.svg") no-repeat;
	background-size: cover;
}
header{
    margin: 0 auto 10px;
    width: 900px;
}
header #logo {
    display: block;
    padding: 50px 0 0;
    position: relative;
    width: 169px;
    z-index: 4;
}
label {
    cursor: pointer;
}
#logo img{
    width: 100%;
}
header hr{
  border: 3px solid #9A152B;
  margin: 10px 0 0 0px;
  width: 650px;
}
/*******
#	ВЫБОР ТИПА
*******/
#type-of-products-wrapper{
    height:100%;
    font-size: 0;
    margin: -150px auto 0;
    padding: 150px 0 0;
    width: 1024px;
}
.type-of-product{
	display: inline-block;
	height:100%;
	font-size: 14px;
	position: relative;
	vertical-align: bottom;
	width: 50%;
	zoom: 1;
	*display: inline;
}
.three .type-of-product{
    width: 33%;
}
.more-than-three .type-of-product{
    width: 33%;
    height: 50%;
}
a.type-of-product-content{
    display: inline-block;
	height: 100%;
        max-height: 400px;
	margin: auto;
    overflow: hidden;
	position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	text-align: center;
	text-decoration: none;
	vertical-align: top;
	width: 100%;
	zoom: 1;
	*display: inline;
	_height: 100%;
}

.type-of-product-content img{
    border: 0; /* IE 9 */
    height: auto;
    max-height: 200%;
    margin: 0 auto;
    position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
    width: auto;
        max-width: 100%;
}

.type-of-product-content p {
	font-weight: 800;
	margin: 0;
	text-transform: uppercase;
	position: absolute;
		right: 0;
		bottom: 1em;
		left: 0;
}
.type-of-product-content:hover p{
    color: #991c2b;
}

/*******
#	ЭТАПЫ И ВНЕШНИЙ ВИД
*******/
.content
{
	width:1000px;
	margin:0 auto;
}
#view,
.options{
	display: inline-block;
    vertical-align: top;
}
#view{
	width: 650px;
	text-align: center;
}
.main-view{
	height: 500px;
	margin: 0 auto;
	width: 500px;
	position:relative;
}
.main-view img{
	position: absolute;
	height: 100%;
	left: 0;
	margin: 0 auto;
	right: 0;
	width: auto;
}
.main-view .nav{
    background: url("../image/arrow.png");
    cursor: pointer;
    height: 70px;
    position: absolute;
    top: 225px;
    width: 39px;
}
.main-view .nav-left{
	left: -20px;
}
.main-view .nav-right{
	right: -20px;
	background-position: 100% 0;
}
.step
{
	display: inline-block;
	font-family:JeffScriptRegular, sans-serif;
}
.step a
{
	color:#99172A;
	text-decoration: none;
	font-size:large;
}
/*	END	"ЭТАПЫ И ВНЕШНИЙ ВИД"	*/

/*******
#	ОПЦИИ КОНСТРУКТОРА
*******/
.options{
	width: 340px;
	border-left: dotted 3px #bcbdbf;
	padding-left:10px;
}

.options .caption{
	color: #A7A9AC;
	margin: 10px 0;
	font-size:large;
	font-family:Arial, Helvetica, sans-serif;
}
.options .option{
	display: inline-block;
	position: relative;
	text-align: center;
	vertical-align: top;
	width: 65px;
}
.options .option input[type="radio"]{
	display: none;
}
.options .option input[type="radio"] + label  > img{
	clip: rect(auto, auto, 30px, auto); /*Обрезаем верхнюю часть*/
	position: absolute;
	left: 0;
	margin: 0 auto;
	max-height: 60px;
	right: 0;
	top: 0;
	width: auto;
}
.options .option input[type="radio"]:checked + label{
    color: #991c2b;
}
.options .option input[type="radio"]:checked + label > img{
	clip: rect(30px, auto, auto, auto); /*Обрезаем нижнюю часть*/
	top: -30px; /* Сдвиг на половину высоты */
}
.options .option label{
	display: block;
	font-size: 11px;
	padding-top: 30px; /* Место для половины высоты спрайта*/
	word-wrap: break-word;
}
/*	END "ОПЦИИ КОНСТРУКТОРА"	*/

/*******
#	ВСПЛЫВАЮЩИЕ ОКНА
*******/
.popup-overlay {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align:center;
	z-index: 10000;

}
.popup-overlay:after {
        display: inline-block;
        height: 100%;
        width: 0;
        vertical-align: middle;
        content: ''
    }
.popup-overlay  p{
	margin-top: 0;
}
.popup {
    background: rgba(235, 235, 235, 0.95);
    border: 1px solid #bcbec0;
    border-radius: 15px;
    display: inline-block;
	max-height: 80%;

    max-width: 700px;
	width: 700px;
    padding: 20px;
    position: relative;
	text-align: right;
    vertical-align: middle;

}
.popup .popup-row{
	border-bottom: 1px solid #bcbec0;
	font-size: 0;
	margin: 0 0 10px;
	padding: 0 0 10px;
}
.popup .color-picker,
.popup .texture-picker{
	display: inline-block;
	font-size: 14px;
	text-align: left;
	vertical-align: bottom;
}
.popup .popup-row .color-picker,
.popup .popup-row .texture-picker{
	margin: 0 1%;	
}
/*Выбор цвета*/
.popup .popup-row .color-picker{
	width: 64%
}

.popup .color{
	display: inline-block;
	font-size: 0px;
	position: relative;
	text-align: center;
	vertical-align: top;
}
.popup .color input[type="radio"]{
	display: none;
}
.popup .color input[type="radio"] + label  > img{
	border: 2px solid transparent;
	cursor:  pointer;
	height: 30px;
	width: 30px;
}
.popup .color input[type="radio"]:checked + label > img{
	border: 2px solid #991c2b;
}
/*Выбор текстуры*/
.popup .texture-picker{
	width: 32%;
}
.popup .texture-picker .texture{
	display: inline-block;
	margin: 0 5px 5px 0;
}
.popup .texture-picker input[type="checkbox"]{
	display: none;
}
.popup .texture-picker input[type="checkbox"] + label{
	cursor:  pointer;
	text-transform: uppercase;
	padding-left: 15px;
	position: relative;
}
	.popup .texture-picker label:before{
		content: '';
		background: url("../popups/texture-picker.png") 0 100%;
		height: 10px;
		position: absolute;
			left: 0px;
			top: 25%;
		width: 10px;
	}
	.popup .texture-picker input[type="checkbox"]:checked + label:before{
		background: url("../popups/texture-picker.png") 100% 0;
	}
.popup .texture-picker input[type="text"]{
	border: 1px solid #bcbec0;
	border-radius: 5px;
	padding: 0 0.5em;
	width: 210px;
	outline: 0;
}
.popup input[type="button"]{
	background: #991c2b;
	border: none;
	border-radius: 5px;
	color: #fff;
	cursor:  pointer;
	padding: 0.3em 1em;
	text-transform: uppercase;
}
/*Основной блок выбора*/
.popup .main-picker{
	font-size: 0;
	max-height: 280px;
	overflow-y: auto;
	text-align: left;
	width: 100%;
}
.popup .main-picker .pattern{
	display: inline-block;
	cursor: pointer;
}
.popup .main-picker .pattern img{
	/* margin:1px; */
	width: 70px;
	height: 70px;
	padding: 3px;
	border: 1px solid transparent;
}
.popup .main-picker .pattern:hover img{
	border: 1px solid #991c2b;
}
.popup .pattern input[type="radio"]{
	display: none;
}

/*	END "ВСПЛЫВАЮЩИЕ ОКНА"	*/

.breadcrumbs
{
	margin: auto;
	width: 1000px;
	font-family: 'MyriadProRegular';
}
.breadcrumbs a
{
	font-family: 'MyriadProRegular';
	color:black;
	text-decoration: none;
}
.breadcrumbs a:after
{
	content: '>';
	padding-left:5px;
	padding-right:5px;
}
.breadcrumbs a:last-child:after
{
	content: '';
}